@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@200;300;400;500;600;700&family=Josefin+Sans&family=Roboto&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--primary-color: #ff7613;
--text-color: #727171;
}

img{
    width: 150px;
    height:150px;
    border-radius: 50%;

}

html{
font-size: 10px;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(29, 65, 29);
    color: rgb(190, 174, 168);
}
/* Common styles */
a{
text-decoration: none;
color : rgb(190, 174, 168);;
}
.description{
margin-top: 1rem;
font-size: 1.5rem ;
font-weight: 400;
color: var(--text-color);
}
.title{
color: var(--primary-color);
font-weight: 700;
font-size: 2rem;
text-transform: uppercase;
}
.downloadBtn{
display: block;
text-decoration: underline;
font-size: 1.6rem;
margin-top: 1rem;

}
.downloadBtn{
color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
.profile_container{
flex-direction: column;/* pour que l'alignement en colon sur les petits écrans*/

}
.title{
color: var(--primary-color);
font-weight: 700;
font-size: 2rem;
text-transform: uppercase;
}
}
.item_preTitle{
font-size: 1.4rem;
color: var(--text-color);
font-weight: 300;
}
.item_title{
font-size: 1.6rem;
color: white;
font-weight: 500;
margin: 0.8rem 0;
}
.item_subtitle{
font-size: 1.4rem;

color: var(--text-color);
font-weight: 400;
}
/* layouts */
.container{

    max-width: 1000px;
    width: 90%; /* le conteneur prend 90% de la taille de la page */
    margin: 0 auto;/*pour centrer le conteneur(les marges du coté droit et son égale   */
    display: grid;
    padding: 5rem;
    background: black;
    grid-template-columns: 1fr 1fr;   /*pour avoir 2 colones de meme taille */
    gap: 4rem;
}


@media only screen and (max-width: 768px){/*pour designer les ecrans de petit taille */
    .container{
    width: 100%; /* Il prend la totalité de l'espace qui lui est reservé*/
    grid-template-columns: 1fr;/*pour avoir une colone. pour les element se trouve dans une unique colone */
    padding: 3rem;
    gap: 7rem;
    }
    
}
.profile{
grid-column: 1/-1;
margin: 2rem;
}
.groupe-1,
.groupe-2{
display: flex;
flex-direction: column;
gap: 5rem;
}
.groupe-3{
max-width: 700px;
width: 100%;
margin: 0 auto;
grid-column: 1/-1;
display: flex;
flex-direction: row;
gap: 5rem;
}
.groupe-3 > div{ /* pour mettre la distance entre les div du groupe 3*/
flex: 1;
}
@media only screen and ( max-width:768px) {
    .profile{
    margin-bottom: 0;
    }
    .groupe-3{
    flex-direction: column;
    }
    
}
/* profile */
.profile_container{
display: flex;
/* gap: 2rem;
renvois à la ligne quant les élémens atteingne cette dimention */
gap: 2rem;
}
.profile_profileImg{
max-width: 250px;
}
.profile_name_firstName{
color: aliceblue;
/* font-size: 200;
pour le gras de l'écriture */
font-size: 200;
/* font-size: clamp(2rem, 8vw, 4rem); 
permet */
font-size: clamp(2rem, 8vw, 4rem);
text-transform: uppercase;
display: block;
margin-bottom: -0.8rem;
}
.profile_name_lastName{
color: var(--primary-color);
font-weight: 700;
font-size: clamp(2.5rem, 15vw, 7rem);
text-transform: uppercase;
display: block;
}
.profile_title{
font-size: 1.5rem;
font-weight: 400;
text-transform: uppercase;
}
.skill_list{
margin-top: 1rem;
margin-left: 2rem;
line-height: 2;/* Pour espacer les line*/
}
/* ref. */
.ref_item{
margin-top: 2rem;

}
.re_name{
font-size: 1.6rem;
font-weight: 700; 
}
/* education */
.edu_item{
margin-top: 2rem;

}
.exp_item{
margin-top: 2rem;

}
.interest_items{

margin-top: 2rem;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 2rem;
}
.interest_item{
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.5rem;
color: var(--text-color);

}
.social_items{
margin-top: 2rem;
}
.social_item{
margin-top: 1.5rem;
font-size: 1.5rem;
display: flex;
gap: 0.5rem;
align-items: center;
justify-content: flex-start;
color: var(--text-color);
}
.social_item:hover{
color: var(--primary-color);
}
.social_itemsvg{
width: 2rem;
}
hr{
grid-column: 1/-1;
width: 80%;
margin: 0 auto;
margin-top: 5rem;
margin-bottom: 1rem;
border: none;
border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and(max-width:768px) {
 hr{
    margin: 0 auto;
}   
}